.top {
    padding-top: 10%;
    text-align: center;
}
.top h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
}
.top p{
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;